<div class="vault-main">
  <span class="red">"accounts"</span> : [
    <div class="accounts">
      <% if @user.accounts.any? %>
        <% @user.accounts.each do |account| %>
          {
          <div class="account">
            <p><span class="red">"<%= account.name %>"</span> : {</p>
            <p><span class="variable">"username"</span> : <span class="quotes">"<%= account.username %>"</span>,</p>
            <p><span class="variable">"email"</span> : <span class="quotes">"<%= account.email %>"</span>,</p>
            <p><span class="variable">"password_digest"</span> : <span class="quotes">"<%= account.password %>"</span></p>
          </div>
          <% if @user.accounts.last == account %>
            }
          <% else %>
            },
          <% end %>
        <% end %>
      <% end %>
    </div>
    ]
</div>
